.customBtnAdmin1 {
  width: 120.284px;
  height: 46.167px;
  color: #b3404a;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #f4b2b0;
  border: 1 px solid #b3404a;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
.customBtnAdmin2 {
  width: 120.284px;
  height: 46.167px;
  color: #b3404a;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1 px solid #b3404a;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.customBtnAdmin1:hover {
  background-color: #f25f6c;
  color: #ffffff;
}
.customBtnAdmin2:hover {
  background-color: #f25f6c;
  color: #ffffff;
}
