.input,
.form-control {
  display: flex;
  border-color: #f28705;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  text-align: center;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
}

.input-container input {
  width: 40px;
  height: 40px;
}
